*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
}

header{
    background-color: #0084FD;
    height: 60px;
}

.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;   
}

.first-maincontainer{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.bigContainer{
    background-color: #9792E4;
    width: 100%;
}

.blackContainer{
    background-color: #222222;
    width: 100%;
}

.card{
    background-color: #B5DDFF;
    margin: 20px;
    padding: 20px 20px 0 20px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big-card{
    background-color: #B5DDFF;
    margin: 20px;
    padding: 20px 20px 0 20px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.white-card{
    background-color: white;
    color: black;
    margin: 20px;
    padding: 20px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.white-card2{
    background-color: white;
    color: black;
    margin: 20px;
    padding: 20px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
}

.purple-card{
    background-color: #9792E4;
    color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intestazione{
    color: #0084FD;
    margin: 20px;
}

.intestazione2{
    color: black;
    margin: 20px;
}

.intestazione3{
    color: #9792E4;
    margin: 20px;
    text-align: center;
}

.bigTitle{
    color: white;
    padding: 20px;
}

.easyText{
    color: white;
    padding: 20px;
}

.easyText2{
    color: white;
    padding: 20px;
    text-align: center;
}

.corsivo{
    color: black;
    margin: 20px;
}

.text{
    color: gray;
    margin: 20px;
}

.text2{
    color: black;
    margin: 20px;
    text-align: center;
}

.text3{
    margin: 20px;
    line-height: 30px;
}

.small-text{
    color: white;
    text-align: center;
    font-size: 13px;
    margin: 20px;
}

.small-text2{
    color: white;
    text-align: center;
    font-size: 13px;
    margin: 20px 20px 0 20px;
}

.orange-text{
    color: orange;
    margin: 20px;
    text-align: center;
    font-size: 50px;
}

.purple-text{
    color: #9792E4;
    margin: 20px;
}

.btn{
    background-color: #0084FD;
    color: white;
    border-radius: 30px;
    border: none;
    padding: 10px;
    margin: 20px;
    width: 60%;
}

.fa-file-code,
.fa-pen-ruler,
.fa-laptop-code,
.fa-bullhorn{
    color: #0084FD;
    font-size: 100px;
}

.fa-bars{
    color: white;
    padding-top: 20px;
}

.fa-linkedin{
    color: white;
    padding-right: 10px;
}

.fa-circle{
    font-size: 5px;
}

.fa-quote-left,
.fa-quote-right{
    padding: 0 10px;
}

img.logo{
    padding-top: 10px;
}

img.phone{
    width: 100%;
}

.circle{
    width: 100%;
    border-radius: 50%;
    border: none;
    margin: 20px;
}

.circle2{
    width: 210px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

.centro{
    text-align: center;
    margin: 40px;
}

.tasto-wrapper{
    text-align: center;
    padding: 20px;
}

.tasto-rotondo{
    background-color: #9792E4;
    border-radius: 50%;
    padding: 10px;
    width: 45px;
    height: 45px;
    display: inline-block;
}

.tasto-more{
    background-color: #9792E4;
    border-radius: 25px;
    padding: 15px 45px;
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 20px;
}

.tasto-more2{
    background-color: white;
    border-radius: 25px;
    padding: 15px 45px;
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 20px auto;
}

.tasto-more > a{
    text-decoration: none;
    color: white;
}

.tasto-more2 > a{
    text-decoration: none;
    color: #9792E4;
}

#und-text{
    text-decoration: underline;
}

.violet-link{
    color: #9792E4;
    font-size: 13px;
}

.middle{
    text-align: center;
    margin-bottom: 20px;
}

/* RESPONSIVE SOLUTIONS */

/* TABLET */

@media screen and (min-width: 768px){
    .container{
        max-width: 750px;
    }

    #cards{
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/* DESKTOP */

@media screen and (min-width: 992px) {
    
}